$coll: #111224;
$col2: #4B4C60;
$col3: #2c3241;
$col4: #FFFFFF;
$col5: #e2e2e2;

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: $col5;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}